/.vs/OSC/DesignTimeBuild/.dtbcache.v2
/.vs/OSC/v17/.futdcache.v2
/.vs/OSC/v17/.suo
/.vs/OSC/FileContentIndex/0f6ddd36-f346-4916-8a51-289d431f116a.vsidx
/.vs/ProjectEvaluation/osc.metadata.v5.2
/.vs/ProjectEvaluation/osc.projects.v5.2
/.vs/OSC/FileContentIndex/read.lock
